body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
}
#header h1 {
    margin: 0;
    font-size: 1.5rem;
}

#player-name {
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.2em;
}

#header div {
    font-size: 1.2rem;
}
#target-emoji {
    font-size: 5rem;
    margin: 20px 0;
}
#options {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 10px;
    padding-top: 50px;
    margin: 20px auto;
    width: 95%;
    max-width: 1500px;
}
.emoji-option {
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: transform 0.2s, background-color 0.2s;
}
.emoji-option:hover {
    transform: scale(1.2);
    background-color: #e6f7ff;
}
#countdown {
    font-size: 1.5rem;
    margin: 20px;
}